* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    min-width: 600px;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 600px;
    border: 15px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.number {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    width: 100%;
    color: white;
    height: 100%;
    text-align: center;
    padding: 10px;
    
}

.number-1 {
    transform: rotate(30deg);
}

.number-2 {
    transform: rotate(60deg);
}

.number-3 {
    transform: rotate(90deg);
}

.number-4 {
    transform: rotate(120deg);
}

.number-5 {
    transform: rotate(150deg);
}
.number-6 {
    transform: rotate(180deg);
}
.number-7 {
    transform: rotate(210deg);
}
.number-8 {
    transform: rotate(240deg);
}
.number-9 {
    transform: rotate(270deg);
}
.number-10 {
    transform: rotate(300deg);
}

.number-11 {
    transform: rotate(330deg);
}

.number-12 {
    transform: rotate(360deg);
    
}


.second-hand {
    box-shadow: 3px 0px 10px 0px #00000079;
    width: 5px;
    height: 230px;
    background-color: #ff0000;
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.minute-hand {
    box-shadow: 3px 0px 10px 0px #00000079;
    width: 8px;
    height: 200px;
    background-color: #000000;
    position: absolute;
    border-radius: 5px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.hour-hand {
    box-shadow: 3px 0px 10px 0px #00000079;
    width: 13px;
    height: 170px;
    background-color: #000000;
    position: absolute;
    border-radius: 13px;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

.center {
    box-shadow: 3px 0px 10px 0px #00000079;

    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #ff0000;
    position: absolute;
}